#============= hal_sensors_default ==============
allow hal_sensors_default system_data_root_file:dir add_name;
allow hal_sensors_default system_data_root_file:file create;
