#============= system_app ==============
allow system_app hal_light_default:binder call;
allow system_app netd:binder call;
allow system_app proc_pagetypeinfo:file open;
allow system_app system_suspend_control_internal_service:service_manager find;
#allow system_app tracingproxy_service:service_manager find;
